.nextflow*
work/
data/
results/
.DS_Store
testing/
testing*
*.pyc
null/

# nf-test cache and logs
.nf-test/
.nf-test.log

# Generated test samplesheet (created by conf/test.config at parse time)
tests/data/.generated_samplesheet.csv
