/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

// TODO nf-core: Specify any additional parameters here
// Or any resources requirements
params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/denver'
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners

// Include OAMD container overrides for testing
// These require ECR access - tests are disabled in CI until CDC-controlled runners available
includeConfig "${projectDir}/configs/amd_containers.config"
includeConfig "${projectDir}/configs/amd_docker.config"
